{%- assign person_description = page.summary | default: page.description -%}
{%- assign site_root_url = '/' | absolute_url -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": {{ page.url | absolute_url | append: "#person" | jsonify }},
  "name": {{ page.person_name | default: page.title | jsonify }},
  "jobTitle": {{ page.job_title | jsonify }},
  "url": {{ page.url | absolute_url | jsonify }},
  "worksFor": {
    "@type": "Organization",
    "@id": {{ site_root_url | append: "#department" | jsonify }},
    "name": {{ page.works_for | default: site.department_name | jsonify }},
    "url": {{ site_root_url | jsonify }}
  }{% if page.affiliations and page.affiliations.size > 0 %},
  "affiliation": [
    {% for affiliation in page.affiliations %}
    {
      "@type": "Organization",
      "name": {{ affiliation | jsonify }}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]{% endif %},
  "description": {{ person_description | strip_html | normalize_whitespace | jsonify }}{% if page.email %},
  "email": {{ page.email | prepend: "mailto:" | jsonify }}{% endif %}{% if page.telephone %},
  "telephone": {{ page.telephone | jsonify }}{% endif %}{% if page.image %},
  "image": {{ page.image | absolute_url | jsonify }}{% endif %}{% if page.same_as and page.same_as.size > 0 %},
  "sameAs": {{ page.same_as | jsonify }}{% endif %}{% if page.research_areas and page.research_areas.size > 0 %},
  "knowsAbout": {{ page.research_areas | jsonify }}{% endif %}
}
</script>
