---
layout: default
table-count: 5
---
<div class="home-back">

  <div class="home-back-slide">
    <div class="home-back-slide-cover">
      <div class="wrapper">
          {% include slide-carusel.html %}
      </div>
    </div>
  </div>

  <div class="alert-container">
    <a href="/info" target="_blank" class="alert-banner">
        <span class="alert-label">NOTICE</span>
        <span class="alert-text">Important Information for all CS Students</span>
        <span class="alert-arrow">→</span>
    </a>
</div>

  <div class="home-top">
    <div class="home-top">
  
    <div class="wrapper">
      <div class="home">
        {%- if page.title -%}
        <h1 class="page-heading">{{ page.title }}</h1>
        {%- endif -%}

        <div class="wrap-table">
          
        </div>
      </div>

      {% include umass-programms.html %}

      {% include info-cards.html %}

      {% include follow-buttons.html %}
    </div>
  </div>
</div>



<script src="/WEB/javascript/home.js"></script>
